extends ../layout

block content
  .welcome.is-welcome
    h1.welcome__title SongBird
    .welcome__desc Songbird - приложение-викторина для распознавания птиц по их голосам. Цель: ответить на все вопросы за минимальное количество нажатий
    .welcome__button
      +button('welcome__btn', 'Начать игру')