mixin footer 
  footer.footer
    .footer__author
      +icon('github-icon', 'github-icon')
      a.footer__username(target="_blank" href="https://github.com/chervyakov-vladislav") chervyakov-vladislav
    .footer__year &copy; 2022
    .footer__school
      a.footer__link(target="_blank" href="https://rs.school/js/")
        +icon('rs-school-logo', 'rs-school-logo')
