.game {
  flex: 1;
  display: flex;
  flex-direction: column;

  @include tablets {
    overflow-y: scroll;
  }
}

.game__progress {
  margin-top: 1em;
  margin-bottom: 1em;
}

.game__container {
  flex: 1;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;

  @include tablets {
    justify-content: flex-start;
    flex-direction: column;
    overflow-y: scroll;
  }
}

.game__left, .game__right {
  width: 45%;
  flex: 1;
  gap: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include tablets {
    width: 100%;
  }
}

.game__right {
  justify-content: space-evenly;
}

.game__question {
  height: 25%;
  display: flex;
  width: 100%;
  align-items: center;

  @include tablets {
    height: inherit;
  }
}

.game__answers {
  height: 60%;

  @include tablets {
    height: inherit;
  }
}

.game__score, .game__next{
  display: flex;
  align-items: center;
  justify-content: center;

  @include tablets {
    order: -1;
  }
}

.game__score {
  @include tablets {
    margin-top: 1rem;
  }
}
.game__bird-info {
  height: 60%;
}

.game__btn:disabled {
  background: grey;
}